*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.front-header{
    display:flex;
    background-color:#1F2937;
    flex-direction:column;
    color:#f9faf8;
}
a{
    text-decoration:none;
    color:#f9faf8;
}
.top-header{
    display:flex;
}
.header-logo{
    margin-right:auto;
}
