*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto";
}
.front-header{
    display:flex;
    background-color:#1F2937;
    flex-direction:column;
    color:#f9faf8;
    padding:10px 150px;
    font-style:#F9FAF8;
}
a{
    text-decoration:none;
    color:#f9faf8;
}
.top-header{
    display:flex;
    height:120px;
}
.header-logo{
    margin-right:auto;
    font-size:24px;
    font-weight:900;
}
.right-links{
    display:flex;
    gap:20px;
}
.title{
    font-weight:900;
    font-size:48px;
}
.header-info{
    display:flex;
    font-size:18px;
    color:#E5E7EB;
    justify-content:space-between;
    padding-bottom:50px;
}
.text-info{
    width:700px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
#sign-up-one{
    color:#E5E7EB;
    background-color:#3882F6;
    max-width:fit-content;
    border-radius:4px;
    padding:5px 20px;
    font-size:16px;
}
.img-class{
    max-width:250px;
    height:auto;
    border-radius:5px;
}
.second-header{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.second-header-title{
    color:#1F2937;
    font-size:36px;
    font-weight:800;
    align-content:center;
    height:150px;
}
.cities-info{
    display:flex;
    justify-content:center;
    text-align:center;
    width:200px;
    gap:20px;
    margin-bottom:50px;
}
.advertising-part{
    display:flex;
    justify-content:center;
    background-color:#E5E7Eb;
    padding-top:50px;
}
.intro-of-me{
    font-size:36px;
    font-style:#1F2937;
    font-style:italic;
    padding-bottom:50px;
    font-weight:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
h1{
    text-align:center;
    font-size:36px;
}
p{
    font-size:18px;
}
ul{
    text-align:left;
    font-size:18px;
    padding:20px;
}
.sign-up{
    display:flex;
    align-items:center;
    justify-content:center;
    height:250px;
    background-color:#3882F6;
    border-radius:8px;
    margin:100px 300px;
    height:200px;
    gap:80px;
}
.call-up{
    display:flex;
    flex-direction:column;
    color:#E5E7EB;
}
.text-part{
    font-weight:800;
    font-size:24px;
}
.sign-up-button{
    color:#E5E7EB;
    font-size:18px;
    border:1px solid #E5E7EB;
    border-radius:8px;
    padding:5px 15px;
    
}
